ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 27AEDK3C9F
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS
INFOPLIST_FILE = Tests/$(TARGET_NAME)/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 10.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.folio-sec.$(TARGET_NAME)
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
