CLANG_ENABLE_MODULES = YES
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Automatic
DEFINES_MODULE = YES
DEVELOPMENT_TEAM = 27AEDK3C9F
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = Sources/$(PROJECT_NAME)/Info.plist
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Vendor/webp/lib
MODULEMAP_FILE = $(SRCROOT)/Sources/WebPDecoder/include/module.modulemap
PRODUCT_BUNDLE_IDENTIFIER = com.folio-sec.$(PROJECT_NAME)
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
SKIP_INSTALL = YES
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
