<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testBlurFilterPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.019276</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testDecodingGIFPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011588</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testDecodingJPEGPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010796</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testDecodingPNGPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0069959</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testDecodingWebPPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.051501</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testFileStorageLoadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012978</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testFileStorageSavePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.040256</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testSQLiteStorageLoadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0064171</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
			<key>testSQLiteStorageSavePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078106</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 6, 2019 2:43:14</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
