<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testDecodingGIFPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0099758</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testDecodingJPEGPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010287</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testDecodingPNGPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00678</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testDecodingWebPPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049123</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testFileStorageLoadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01307</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testFileStorageSavePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042621</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testSQLiteStorageLoadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0054627</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
			<key>testSQLiteStorageSavePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.092066</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 2, 2019 16:22:21</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
